@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";
@plugin "daisyui";


html{
  font-family: "Work Sans", sans-serif;
   scroll-behavior: smooth;
}
body{
  background-color: #F3F7FF;
}